/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #222;
  line-height: 1.6;
  font-size: 16px;
  padding: 2rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}

main section {
  margin-bottom: 2rem;
}

h1, h2 {
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5rem;
  /*text-align: center;*/
}

a {
  color: #757474;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-shadow: black;
}


footer {
  text-align: center;
  font-size: 0.875rem;
  color: #888;
  margin-top: 3rem;
}
